
.tabs {
    padding: 3rem 0 3rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

.aboutme__titleBackground {
    display: flex;
    justify-content: space-evenly;
    color: lavender;
    background: #1565C0;
    box-shadow:  40px 30px 40px rgba(0,0,0,.1);
}

.aboutme__title {
    width: 60%;
}

.tab {
    border-radius: 20px 20px 0 0;
    text-decoration: none;
}

.mdl-tabs__tab-bar {
    border-bottom: none !important;
}

