.skills {
    min-width: 400px;
    background: lavender;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #1565C0;
    padding: 0.5rem 2rem 0 2rem;
}


.skills__icons {
    padding-bottom: 1rem;;
    display: flex;
}

.skill_icon {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skill_icon > img {
    width: 100%;
    height: auto;
}

.skills__icons > img {
    width: 200px;
    height: 200px;
}