.aboutMe__section {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b92b27, #1565C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0px 0px 5px lavender;
}


.aboutMe {
    min-width: 350px;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem 7rem 2rem;
    
}

.aboutMe__body {
    width: 90%;
    margin: auto;
    display: flex;
    color: lavender;
    justify-content: space-evenly;
    align-items: center;

}

.aboutMe__title {
    color: lavender;
    border-bottom: 1px solid white;
}

.aboutMe__bio > p {
    width: 90%;
    margin: auto;
}


.du__logo {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {

    .aboutMe__body {
        display: flex;
        flex-wrap: wrap;
    }
    .du__logo {
        width: 100%;
        padding: 2rem;
        border-radius: 50px
    };
    .aboutMe__bio > p {
        width: 10vw;
    }
    .aboutMe {
        padding: 5rem 2rem 0rem 2rem;
    }

}
@media only screen and (max-width: 447px) {

    .aboutMe__section {
        margin-top: -7rem;
        padding-top: 2rem;
    }

    .aboutMe {
        padding: 5rem 2rem 0rem 2rem;
    }
}