.aboutMe {
    min-width: 400px;
    background: lavender;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #1565C0;
    padding: 2rem 0 2rem 0;
}

.aboutMe__title {
    width: 80%;
    margin: auto;
    font-size: 3rem;
    padding: 2rem;
}

.aboutMe__body {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aboutMe__bio {
    width: 300rem;
    margin-right: 2rem;
}

.du__logo {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {

    .aboutMe__body {
        display: flex;
        flex-wrap: wrap;
    }
    .du__logo {
        width: 100%;
        padding: 2rem;
        border-radius: 50px
    };
    .aboutMe__bio {
        width: 100%;
        margin-right: none;
    }

}